*,html,body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    
}


.register-banner{
    background-image: url("../images/career.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.register-banner:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color:#00000085;
    z-index: -1;
}


/* :target{
    scroll-margin-top: 20;
} */


.register_inner_content{
    padding: 8rem 0rem;
    z-index: 1000;
    color: white;
}


.register_inner_content h2{
    font-size: 50px;
    position: relative;
    display: inline-block;
    margin: 25px 0px;
}

.register_inner_content h2:after{
    content: "";
    position: absolute;
    background-color: #c52437;
    width: 44px;
    height: 4px;
    bottom: -10px;
    left:0;
}


.register_inner_content p{
    color: #ffffff;
    font-size: 20px;
}


.form-select {
    display: block;
    width: 100%;
    padding: 0.9rem 2.25rem 0.999rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #21252994;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 
.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
    padding: .8rem;
}



.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #e7eb4dc7;
    outline: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: #ffdf8e;
    outline: 0;
    box-shadow: none;
}

.register-form{
    padding: 3rem 0rem;
    height: auto;
	margin: 0;
  scroll-margin-top: 4em;
}

.map{
    padding: 3rem 0rem;
    background-color:#ffb7003b;
}


.map .img-fluid{
        width: 200px;
}


.map p{
    margin-bottom: 0rem;
    margin-top: .2rem;
    font-size: 18px;
    color: #0fb0b9;
}


@media(max-width:768px){
    
.map .col-md{
    margin-bottom: 20px;
}
}



@media(min-width:768px){
    .upper-margin{
            margin-bottom: 30px;
    }
}